<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.jboss.as5.messaging.client" >

    <resources>
        <resource-root path="jnp-client-5.0.3.GA.jar"/>
        <resource-root path="jboss-messaging-1.4.1.GA.jar"/>
        <resource-root path="jboss-remoting-2.5.0.SP2.jar"/>
        <resource-root path="jboss-serialization-1.0.3.GA.jar"/>
        <resource-root path="javassist-3.9.0.GA.jar"/>
        <resource-root path="jboss-aop-2.0.0.SP1-client.jar"/>
        <resource-root path="trove-1.0.2.jar"/>
        <resource-root path="log4j-1.2.14.jar"/>
        <resource-root path="jboss-logging-spi-2.0.5.GA.jar"/>
        <resource-root path="jboss-logging-log4j-2.0.5.GA.jar"/>
        <resource-root path="jboss-common-core-2.2.8.GA.jar"/>
        <resource-root path="jboss-mdr-2.0.1.GA.jar"/>
        <resource-root path="concurrent-1.3.4.jar"/>
    </resources>

    <dependencies>
		<module name="javax.api" export="false">
			<imports>
				<include path="javax/naming"/>
			</imports>
		</module>
        <module name="javax.jms.api" export="true"/>
    </dependencies>

</module>
